.maincomponent
{
  margin:0 auto;
  width:1000px;
}


.banker
{
  float: left;
  width: 45%;
}

.customer
{
  float: right;
  width: 54%;
}

.bank
{
  font-size: 40px;;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.cust
{
  font-size: 40px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}

.line
{
  width:2px;
  background-color: black;
  height: 50px;
  float: left;
  height: 645px;
}



table, th, td {
   border: 1px solid black;
}

#colorGreen{
   border: 1px;
   background-color: green;
   width: 20px;


}

#colorRed{
   border:1px;
   background-color: red;
   width: 20px;
}


#status{
    border-style: solid;
    border-width: medium;
    height: 30px;
}
#amount{
    float: inherit
}
#max{
  font-weight: bold;
  font-size: 20px;
}
#sub{
  float: right;
  margin-top: 80px;
  padding-top: 10px;
}
#submit{
  margin-top: 10px;
  padding-top: 10px;
  float: right;
  margin: 0
}

#subm
{
  float:right;
}

#Please{
  font-weight: bold;
  font-size: 18px;
}


table{
  margin-top: 20px;
}


.status{
  margin-left: 30px;
  margin-top: 85px;
}

label
{
  display: block;
}


input[type="text"]{
  height: 25px;
  width: 300px;
  border: 2px solid black;
  disable:false;
}


.value
{
  margin-left: 5px;
}
