body {
  background-color: #EAE2E3;
}

.maincomponent {
  margin:0 auto;
  width:1000px;
}

.components {
  height: 320px;
  padding-top: 10%;
  padding-bottom: 2%;
}

.banker {
  float: left;
  width: 45%;
  border: 1px solid #12335e;
  padding: 0px;
  color: #FA1A35;
  padding-left: 4%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.customer {
  float: right;
  width: 45%;
  border: 1px solid #12335e;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom:35px;
  padding-top: 25px;
  height: 320px;
  color: #FA1A35;
}

.bank {
  font-size: 40px;;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: bold;
}

.cust {
  font-size: 40px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin-left: 108px;
  font-weight: bold;
}

table, th, td {
   border: 1px solid black;
   color: #FA1A35;
   border: none;
}

#colorGreen {
   border: 1px;
   background-color: green;
   width: 20px;
}

#colorRed {
   border:1px;
   background-color: red;
   width: 20px;
}

#status {
    border: none;
    height: 45px;
    width: 355px;
    background-color: #BDB9AA;
    color: #FA1A35;
	  padding-left : 2px;
}

#amount {
    float: right;
    margin-right: 13%;
}

#max {
  font-weight: bold;
  font-size: 20px;
}

#sub {
  float: right;
  margin-top: 80px;
  padding-top: 10px;
}

#submit {
  margin-top: 10px;
  padding-top: 10px;
  float: right;
}

.subm {
  margin-right: 15%;
  float:right;
}

#withdrawButton {
  color: #FA1A35;
}

#Please {
  font-weight: bold;
  font-size: 18px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

.status {
  margin-left: 30px;
  margin-top: 7%;
  padding-left:10px;
}

label {
  display: block;
}

.value {
  margin-left:200px;
  font-size: 22px;
  color: red;
  float: right;
}

.amou {
  float: right;
  margin-right: 40px
}

#S_buttonSubmit {
  float: right;
  clear: both;
  margin-right: 40px;
  margin-top: 10px;
}

#S_sub2 {
  float: left;
  clear: both;
}

.curr {
  float: right;
  margin-right: 20px;
  margin-left: 137px;
}

tr th {
  width: 250px;
}

.header {
  margin-left: 10px;
  margin-right: 10px;
  position:absolute;
  left:0; right:0;
  height: 10%;
  padding-bottom: 2%;
  color: #FA1A35;
  text-align : center;
  }

#logsTable {
text-align : center;
}

.logs{
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer {
   position: fixed;
   left:0;
   bottom:0;
   height:30px;
   width:100%;
   background:#EAE2E3;
    margin-top: 15px;
}

.foo {
  color: #FA1A35;
  font-size: 25px;
  padding-left: 5px;
  float: left;
}

.cop {
    float: right;
    color: #FA1A35;
    font-size: 25px;
    padding-right: 5px;
}


.col {
   background-color: lightcoral;
   color: black;
}

.col2 {
   background-color: aqua;
   color: black;
}
