#status{
    border-style: solid;
    border-width: medium;
    height: 100px;
}
#amount{
    float: inherit
}
#max{
  font-weight: bold;
  font-size: 20px;
}
#sub{
  float: right;
  margin-top: 80px;
  padding-top: 10px;
}
#submit{
  margin-top: 10px;
  padding-top: 10px;
}
#Please{
  font-weight: bold;
  font-size: 18px;
}
